<div class="container">

        <h2 class="form-signin-heading">Please sign in</h2>
        <!-- Username -->
        <label class="sr-only">Username:</label>
        <!-- Password -->
        <label class="sr-only">Password</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

    <br>

      <span class="glyphicon glyphicon-repeat spinner"></span>
      <p>Loading ...</p>
    </div>
    </div>
    </div>
